<template>
<v-container class="aling-center">
    <v-form>
      <v-text-field
      v-model="task.value"
      >

      </v-text-field>

      <v-btn
      @click="pushtask(task)"
      >
        Agregar tarea
      </v-btn>
    </v-form>
     <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
        
          <th class="text-left">
            Nombre de tareas
          </th>

          <th>
            Borrar

          </th>

        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(item,i) in tasks"
          :key="item.value"
        >
          <td><v-text-field
          :disabled="item.status == 'en proceso'? true : false"
          v-model="item.value"

          >

          
            </v-text-field></td>
          <td>
            <v-btn
            @click="tasks.splice(i,1)"
            >
              Eliminar
            </v-btn>
            <v-btn
            @click="enviar(i)"
            >
              Cambiar estado
            
            </v-btn>
          </td>
         
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({
     tasks:[],
     task:{}
    }),
    methods:{
      pushtask(value){
        this.tasks.push(value);
        this.task={}
      }
      ,
    enviar(i){
      this.tasks[i]['status']="en proceso";
      console.log(this.tasks)
    }
    }
    ,
  }
  

</script>
