<template>
  <v-app>
    <v-main class="align-center">
      <HelloWorld/>
    </v-main>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',

  components: {
    HelloWorld,
  },

  data: () => ({
     tasks:[],
     task:{}
    }),
    methods:{
      pushtask(value){
        this.tasks.push(value);
        this.task={}
      }
      ,
    enviar(i){
      this.tasks[i]['status']="en proceso";
      console.log(this.tasks)
    }
    }
    ,
  }
</script>
